
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');
@import './Mediaquery.scss';
.about-parent{
 
 background: #02050A;
    .about-grid{
        max-width: 1300px;
        
        padding-bottom: 120px ;
 width: 100%;
 display: grid;
 place-items: center;
 place-content: center;
 grid-template-columns: 1fr 1fr;
@include lg{
    grid-template-columns: 1fr ;
    width: 80%;
    margin: auto;
    gap: 80px 0;
}
 margin: auto;
 .about-text{
    h3{
        color:  rgb(85, 230, 165);
        font-size: 20px;
        font-weight: 500;
        margin: 0;
        font-family: 'Poppins', sans-serif;
        padding: 0;
        text-transform: uppercase;
        
    }
    h1{
        font-size: 48px;
        font-weight: 600;
        margin: 0;
        padding: 10px 0 40px 0;
        font-family: 'Poppins', sans-serif;
        color: white;
line-height: 62px;
@include mobile{
    font-size: 35px;
    font-weight: 600;
    margin: 0;
    padding: 10px 0 40px 0;
    font-family: "Poppins", sans-serif;
    color: white;
    line-height: 45px;

}
    }
    .about-info{
        display: flex;
        gap: 50px;
        @include mobile{
            gap: 0;
        }
        button{
            height: 0;
            padding: 0 40px;
            margin-top: 23px;
            @include mobile{
                display: none;
            }
            
        }
        .about-detail-text{
            p{
                color:  rgb(162, 162, 162);
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                span{
                    color: #55E6A5;
                    cursor: pointer;
                }
                }
                .download{
                    background: #55E6A5;
                    border: none;
                    font-size: 16px;
                    font-family: "Poppins", sans-serif;
                    border-radius: 5px;
                    cursor: pointer;
                    /* padding: 30px 30px; */
                    transition: 0.8s;
                    font-size: 16px;
                   
                    height: 65px;
                  }
                  .download:hover{
                    background: #141C27;
                    color: white;
                  }
        }

    }
}
.about-img{
    img{
        width: 100%;
        margin-left: 70px;
        @include lg{
            margin-left: 0;
        }
    }
}
    }
  
}