
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');
@import './Mediaquery.scss';
.review-parent{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 120px 0;
    @include lg{
        width: 80%;
        margin: auto;
        padding: 120px 0 0 0;
    }
   .back{
    .client{
        font-size: 20px;
        font-weight: 500;
        color: rgb(85, 230, 165);
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }
    .testi{
        color: white;
        font-size: 48px;
        font-weight: 600;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        @include mobile{
            font-size: 35px;
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
        padding-top: 80px;
      }
      
      .swiper-slide {
        border: 1px solid #333F4D;
        font-size: 18px;
        background: #02050A;
        padding: 40px 60px;
        height: 140px;
        cursor: pointer;
        @include mobile{
            height: 320px;
        }
     .review-title{
        h1{
            color: white;
            font-family: 'Poppins', sans-serif;
            font-size: 22px;
            font-weight: 500;
            margin-top: 10px;
            margin-bottom: 10px;

        }
        p{
            color: white;
            font-family: "Poppins", sans-serif;
            font-size: 16px;
            width: 90%;
            @include lg{
                width: 100%;
            }
        
        }
        .para{
            display: flex;
            justify-content: space-between;
            span{
                color: #55E6A5;
                font-size: 38px;
                @include lg{
                    display: none;
                }
            }
        }
     }
      }
      
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
   }

}